In [152]:
import numpy as np
import pandas as pd

data=pd.read_csv('BA-Final-Data-Skytrax.csv')
data

,Unnamed: 0,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Staff Service,Value for Money,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Aircraft
0,0,Amanda Edgar(United Kingdom)2nd September 2024,✅Trip Verified| As someone who flies relentles...,1.0,1.0,2.0,NaN,NaN,Couple Leisure,Business Class,London to Crete,September 2024,1.0,2.0,3.0,2.0,no,NaN
1,1,S Morton(United Kingdom)1st September 2024,✅Trip Verified| Flew with British Airways cl...,3.0,NaN,3.0,NaN,NaN,Business,Business Class,Berlin to London,August 2024,1.0,1.0,NaN,1.0,no,A319
2,2,E Smyth(United Kingdom)30th August 2024,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,NaN,NaN,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,5.0,4.0,yes,Boeing 777-200
3,3,Lauren Boniface(United Kingdom)28th August 2024,Not Verified| I am beyond upset and disgusted ...,NaN,NaN,1.0,NaN,NaN,Solo Leisure,Economy Class,London to Denver,August 2024,1.0,1.0,NaN,1.0,no,NaN
4,4,Il Yong Jung(Hong Kong)28th August 2024,✅Trip Verified| I purchased round trip direc...,3.0,4.0,4.0,NaN,NaN,Family Leisure,Business Class,London to Hong Kong via Doha,July 2024,1.0,1.0,4.0,1.0,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3845,3845,W Benson(United Kingdom)29th August 2012,LHR-HKG on Boeing 747 - 23/08/12. Much has bee...,2.0,3.0,2.0,NaN,NaN,NaN,Economy Class,NaN,NaN,3.0,NaN,NaN,3.0,no,NaN
3846,3846,S Luqman(United Kingdom)29th August 2012,Just got back from Bridgetown Barbados flying ...,1.0,4.0,2.0,NaN,NaN,NaN,Economy Class,NaN,NaN,3.0,NaN,NaN,2.0,no,NaN
3847,3847,D Smith(United Kingdom)29th August 2012,LHR-JFK-LAX-LHR. Check in was ok apart from be...,1.0,4.0,2.0,NaN,NaN,NaN,Economy Class,NaN,NaN,3.0,NaN,NaN,3.0,no,NaN
3848,3848,W Benson(United Kingdom)29th August 2012,HKG-LHR in New Club World on Boeing 777-300 - ...,3.0,4.0,4.0,NaN,NaN,NaN,Business Class,NaN,NaN,3.0,NaN,NaN,0.0,yes,NaN
3849,3849,Michael Dielissen(Canada)29th August 2012,YYZ to LHR - July 2012 - I flew overnight in p...,3.0,4.0,4.0,NaN,NaN,NaN,Premium Economy,NaN,NaN,3.0,NaN,NaN,4.0,yes,NaN

In [153]:
data.isnull().sum()

Unnamed: 0                   0
reviewer_detail              0
reviews                      0
Food & Beverages           422
Inflight Entertainment    1213
Seat Comfort               123
Staff Service             3850
Value for Money           3850
Type Of Traveller          766
Seat Type                    1
Route                      771
Date Flown                 773
Cabin Staff Service        137
Ground Service             845
Wifi & Connectivity       3182
Value For Money              0
Recommended                  0
Aircraft                  1842
dtype: int64

In [154]:
data.drop(columns=['Unnamed: 0','Staff Service','Value for Money','Wifi & Connectivity'],inplace=True)

In [155]:
data.head()

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft
0,Amanda Edgar(United Kingdom)2nd September 2024,✅Trip Verified| As someone who flies relentles...,1.0,1.0,2.0,Couple Leisure,Business Class,London to Crete,September 2024,1.0,2.0,2.0,no,NaN
1,S Morton(United Kingdom)1st September 2024,✅Trip Verified| Flew with British Airways cl...,3.0,NaN,3.0,Business,Business Class,Berlin to London,August 2024,1.0,1.0,1.0,no,A319
2,E Smyth(United Kingdom)30th August 2024,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200
3,Lauren Boniface(United Kingdom)28th August 2024,Not Verified| I am beyond upset and disgusted ...,NaN,NaN,1.0,Solo Leisure,Economy Class,London to Denver,August 2024,1.0,1.0,1.0,no,NaN
4,Il Yong Jung(Hong Kong)28th August 2024,✅Trip Verified| I purchased round trip direc...,3.0,4.0,4.0,Family Leisure,Business Class,London to Hong Kong via Doha,July 2024,1.0,1.0,1.0,no,NaN

In [156]:
data.dtypes

reviewer_detail            object
reviews                    object
Food & Beverages          float64
Inflight Entertainment    float64
Seat Comfort              float64
Type Of Traveller          object
Seat Type                  object
Route                      object
Date Flown                 object
Cabin Staff Service       float64
Ground Service            float64
Value For Money           float64
Recommended                object
Aircraft                   object
dtype: object

In [157]:
data.isnull().sum()

reviewer_detail              0
reviews                      0
Food & Beverages           422
Inflight Entertainment    1213
Seat Comfort               123
Type Of Traveller          766
Seat Type                    1
Route                      771
Date Flown                 773
Cabin Staff Service        137
Ground Service             845
Value For Money              0
Recommended                  0
Aircraft                  1842
dtype: int64

In [158]:
#filling the null values of aircraft data with some other values might impact my data integrity
#My current focus is to get the Customer sentiment and quality service
# So dropping the rows will not effect my data instead helps me to get the meaningful insights.

data.dropna(subset=['Aircraft'], inplace=True)

In [159]:
data.isnull().sum()

reviewer_detail             0
reviews                     0
Food & Beverages          120
Inflight Entertainment    678
Seat Comfort               13
Type Of Traveller           1
Seat Type                   0
Route                       1
Date Flown                  7
Cabin Staff Service        13
Ground Service             14
Value For Money             0
Recommended                 0
Aircraft                    0
dtype: int64

In [160]:
data.mode()

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft
0,James Williamson(United Kingdom)12th June 2015,British Airways from Tampa to Gatwick on Boein...,1.0,1.0,4.0,Couple Leisure,Economy Class,London to Johannesburg,August 2015,5.0,4.0,1.0,no,A320
1,NaN,London Heathrow to Miami on one of British Air...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
data.dropna(subset=['Inflight Entertainment'], inplace=True)

data.isnull().sum()

reviewer_detail            0
reviews                    0
Food & Beverages          13
Inflight Entertainment     0
Seat Comfort               0
Type Of Traveller          1
Seat Type                  0
Route                      1
Date Flown                 6
Cabin Staff Service        0
Ground Service             8
Value For Money            0
Recommended                0
Aircraft                   0
dtype: int64

In [162]:
data

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft
2,E Smyth(United Kingdom)30th August 2024,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200
6,Arthur Grace(United Kingdom)26th August 2024,Not Verified| Although all four flights were d...,4.0,4.0,5.0,Solo Leisure,First Class,Manchester to Newark via London,August 2024,5.0,4.0,5.0,yes,Boeing 787
12,S Anderson(United Kingdom)21st August 2024,✅Trip Verified| Inefficient and slow airport o...,2.0,3.0,2.0,Business,Economy Class,London Heathrow to Nairobi,August 2024,3.0,1.0,1.0,no,A350-1000
15,C Porter(United Kingdom)12th August 2024,✅Trip Verified| British Airways at its best....,5.0,5.0,5.0,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,4.0,4.0,yes,A350
17,Edward King(United States)11th August 2024,✅Trip Verified| I recently traveled with Briti...,4.0,4.0,3.0,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,4.0,2.0,3.0,no,A380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Mike Dickinson(Sweden)12th June 2015,Flew Club World from Gatwick to Barbados in Ap...,3.0,4.0,3.0,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,NaN,3.0,no,Boeing 777
3080,Sasha Guignard(Ukraine)12th June 2015,Flew from Kiev to London on their Airbus 319 i...,NaN,4.0,3.0,Business,Business Class,Kiev to London,NaN,5.0,NaN,4.0,yes,Airbus 319
3082,D Ross(United Kingdom)11th June 2015,LHR to YVR return. Hard earned Avios points tr...,4.0,3.0,4.0,Business,Business Class,London-Vancouver return,NaN,5.0,NaN,5.0,yes,Boeing 747-400
3083,J Brown(United Kingdom)11th June 2015,Club World from LHR-ORD. Busy flight on the ag...,3.0,4.0,4.0,Business,Business Class,LHR-ORD,NaN,2.0,NaN,3.0,yes,Boeing 747-400
3086,R Tompkins(United Kingdom)11th June 2015,Family of 3 - 747 out (upper deck) 777 back. F...,5.0,2.0,4.0,Family Leisure,Business Class,NaN,NaN,5.0,NaN,5.0,yes,Boeing 747 / 777

In [163]:
data['Ground Service']=data['Ground Service'].fillna(data['Ground Service'].mode()[0])
data['Food & Beverages']=data['Food & Beverages'].fillna(data['Food & Beverages'].mode()[0])
data.isnull().sum()

reviewer_detail           0
reviews                   0
Food & Beverages          0
Inflight Entertainment    0
Seat Comfort              0
Type Of Traveller         1
Seat Type                 0
Route                     1
Date Flown                6
Cabin Staff Service       0
Ground Service            0
Value For Money           0
Recommended               0
Aircraft                  0
dtype: int64

In [164]:
data.shape

(1330, 14)

In [165]:
# List of columns to calculate the average
rating_columns = ['Food & Beverages', 'Inflight Entertainment', 'Seat Comfort',
                   'Cabin Staff Service', 'Ground Service', 'Value For Money']

# Calculate the row-wise average while ignoring null values
data['Overall Rating'] = data[rating_columns].mean(axis=1).round(0)

In [166]:
data.shape

(1330, 15)

In [167]:
data

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft,Overall Rating
2,E Smyth(United Kingdom)30th August 2024,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200,4.0
6,Arthur Grace(United Kingdom)26th August 2024,Not Verified| Although all four flights were d...,4.0,4.0,5.0,Solo Leisure,First Class,Manchester to Newark via London,August 2024,5.0,4.0,5.0,yes,Boeing 787,4.0
12,S Anderson(United Kingdom)21st August 2024,✅Trip Verified| Inefficient and slow airport o...,2.0,3.0,2.0,Business,Economy Class,London Heathrow to Nairobi,August 2024,3.0,1.0,1.0,no,A350-1000,2.0
15,C Porter(United Kingdom)12th August 2024,✅Trip Verified| British Airways at its best....,5.0,5.0,5.0,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,4.0,4.0,yes,A350,5.0
17,Edward King(United States)11th August 2024,✅Trip Verified| I recently traveled with Briti...,4.0,4.0,3.0,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,4.0,2.0,3.0,no,A380,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Mike Dickinson(Sweden)12th June 2015,Flew Club World from Gatwick to Barbados in Ap...,3.0,4.0,3.0,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,4.0,3.0,no,Boeing 777,4.0
3080,Sasha Guignard(Ukraine)12th June 2015,Flew from Kiev to London on their Airbus 319 i...,1.0,4.0,3.0,Business,Business Class,Kiev to London,NaN,5.0,4.0,4.0,yes,Airbus 319,4.0
3082,D Ross(United Kingdom)11th June 2015,LHR to YVR return. Hard earned Avios points tr...,4.0,3.0,4.0,Business,Business Class,London-Vancouver return,NaN,5.0,4.0,5.0,yes,Boeing 747-400,4.0
3083,J Brown(United Kingdom)11th June 2015,Club World from LHR-ORD. Busy flight on the ag...,3.0,4.0,4.0,Business,Business Class,LHR-ORD,NaN,2.0,4.0,3.0,yes,Boeing 747-400,3.0
3086,R Tompkins(United Kingdom)11th June 2015,Family of 3 - 747 out (upper deck) 777 back. F...,5.0,2.0,4.0,Family Leisure,Business Class,NaN,NaN,5.0,4.0,5.0,yes,Boeing 747 / 777,4.0

In [168]:
#to get the place from reviewer_details
# Use str.split to extract place by splitting based on '(' and ')'
data['Author'] = data['reviewer_detail'].str.split('(', expand=True)[0]
data['Date'] = data['reviewer_detail'].str.split(')', expand=True)[1]
data['Place'] = data['reviewer_detail'].str.split('(', expand=True)[1].str.split(')', expand=True)[0]

In [169]:
data.head()

,reviewer_detail,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft,Overall Rating,Author,Date,Place
2,E Smyth(United Kingdom)30th August 2024,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200,4.0,E Smyth,30th August 2024,United Kingdom
6,Arthur Grace(United Kingdom)26th August 2024,Not Verified| Although all four flights were d...,4.0,4.0,5.0,Solo Leisure,First Class,Manchester to Newark via London,August 2024,5.0,4.0,5.0,yes,Boeing 787,4.0,Arthur Grace,26th August 2024,United Kingdom
12,S Anderson(United Kingdom)21st August 2024,✅Trip Verified| Inefficient and slow airport o...,2.0,3.0,2.0,Business,Economy Class,London Heathrow to Nairobi,August 2024,3.0,1.0,1.0,no,A350-1000,2.0,S Anderson,21st August 2024,United Kingdom
15,C Porter(United Kingdom)12th August 2024,✅Trip Verified| British Airways at its best....,5.0,5.0,5.0,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,4.0,4.0,yes,A350,5.0,C Porter,12th August 2024,United Kingdom
17,Edward King(United States)11th August 2024,✅Trip Verified| I recently traveled with Briti...,4.0,4.0,3.0,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,4.0,2.0,3.0,no,A380,3.0,Edward King,11th August 2024,United States

In [170]:
data.drop(columns=['reviewer_detail'],inplace=True)

In [171]:
data

,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft,Overall Rating,Author,Date,Place
2,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200,4.0,E Smyth,30th August 2024,United Kingdom
6,Not Verified| Although all four flights were d...,4.0,4.0,5.0,Solo Leisure,First Class,Manchester to Newark via London,August 2024,5.0,4.0,5.0,yes,Boeing 787,4.0,Arthur Grace,26th August 2024,United Kingdom
12,✅Trip Verified| Inefficient and slow airport o...,2.0,3.0,2.0,Business,Economy Class,London Heathrow to Nairobi,August 2024,3.0,1.0,1.0,no,A350-1000,2.0,S Anderson,21st August 2024,United Kingdom
15,✅Trip Verified| British Airways at its best....,5.0,5.0,5.0,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,4.0,4.0,yes,A350,5.0,C Porter,12th August 2024,United Kingdom
17,✅Trip Verified| I recently traveled with Briti...,4.0,4.0,3.0,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,4.0,2.0,3.0,no,A380,3.0,Edward King,11th August 2024,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Flew Club World from Gatwick to Barbados in Ap...,3.0,4.0,3.0,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,4.0,3.0,no,Boeing 777,4.0,Mike Dickinson,12th June 2015,Sweden
3080,Flew from Kiev to London on their Airbus 319 i...,1.0,4.0,3.0,Business,Business Class,Kiev to London,NaN,5.0,4.0,4.0,yes,Airbus 319,4.0,Sasha Guignard,12th June 2015,Ukraine
3082,LHR to YVR return. Hard earned Avios points tr...,4.0,3.0,4.0,Business,Business Class,London-Vancouver return,NaN,5.0,4.0,5.0,yes,Boeing 747-400,4.0,D Ross,11th June 2015,United Kingdom
3083,Club World from LHR-ORD. Busy flight on the ag...,3.0,4.0,4.0,Business,Business Class,LHR-ORD,NaN,2.0,4.0,3.0,yes,Boeing 747-400,3.0,J Brown,11th June 2015,United Kingdom
3086,Family of 3 - 747 out (upper deck) 777 back. F...,5.0,2.0,4.0,Family Leisure,Business Class,NaN,NaN,5.0,4.0,5.0,yes,Boeing 747 / 777,4.0,R Tompkins,11th June 2015,United Kingdom

In [172]:
from math import nan
data['Trip Verified'] = data['reviews'].str.split('|', expand=True)[0]

data['Trip Verified'] = data['Trip Verified'].where(data['reviews'].str.contains(r'\|'), nan)

data

,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft,Overall Rating,Author,Date,Place,Trip Verified
2,✅Trip Verified| Straightforward check in T5....,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200,4.0,E Smyth,30th August 2024,United Kingdom,✅Trip Verified
6,Not Verified| Although all four flights were d...,4.0,4.0,5.0,Solo Leisure,First Class,Manchester to Newark via London,August 2024,5.0,4.0,5.0,yes,Boeing 787,4.0,Arthur Grace,26th August 2024,United Kingdom,Not Verified
12,✅Trip Verified| Inefficient and slow airport o...,2.0,3.0,2.0,Business,Economy Class,London Heathrow to Nairobi,August 2024,3.0,1.0,1.0,no,A350-1000,2.0,S Anderson,21st August 2024,United Kingdom,✅Trip Verified
15,✅Trip Verified| British Airways at its best....,5.0,5.0,5.0,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,4.0,4.0,yes,A350,5.0,C Porter,12th August 2024,United Kingdom,✅Trip Verified
17,✅Trip Verified| I recently traveled with Briti...,4.0,4.0,3.0,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,4.0,2.0,3.0,no,A380,3.0,Edward King,11th August 2024,United States,✅Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Flew Club World from Gatwick to Barbados in Ap...,3.0,4.0,3.0,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,4.0,3.0,no,Boeing 777,4.0,Mike Dickinson,12th June 2015,Sweden,NaN
3080,Flew from Kiev to London on their Airbus 319 i...,1.0,4.0,3.0,Business,Business Class,Kiev to London,NaN,5.0,4.0,4.0,yes,Airbus 319,4.0,Sasha Guignard,12th June 2015,Ukraine,NaN
3082,LHR to YVR return. Hard earned Avios points tr...,4.0,3.0,4.0,Business,Business Class,London-Vancouver return,NaN,5.0,4.0,5.0,yes,Boeing 747-400,4.0,D Ross,11th June 2015,United Kingdom,NaN
3083,Club World from LHR-ORD. Busy flight on the ag...,3.0,4.0,4.0,Business,Business Class,LHR-ORD,NaN,2.0,4.0,3.0,yes,Boeing 747-400,3.0,J Brown,11th June 2015,United Kingdom,NaN
3086,Family of 3 - 747 out (upper deck) 777 back. F...,5.0,2.0,4.0,Family Leisure,Business Class,NaN,NaN,5.0,4.0,5.0,yes,Boeing 747 / 777,4.0,R Tompkins,11th June 2015,United Kingdom,NaN

In [173]:
data['reviews'] = data['reviews'].str.split('|').str[1].fillna(data['reviews'])

In [174]:
data

,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft,Overall Rating,Author,Date,Place,Trip Verified
2,Straightforward check in T5. New site for c...,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200,4.0,E Smyth,30th August 2024,United Kingdom,✅Trip Verified
6,Although all four flights were delayed the se...,4.0,4.0,5.0,Solo Leisure,First Class,Manchester to Newark via London,August 2024,5.0,4.0,5.0,yes,Boeing 787,4.0,Arthur Grace,26th August 2024,United Kingdom,Not Verified
12,Inefficient and slow airport operation. Resti...,2.0,3.0,2.0,Business,Economy Class,London Heathrow to Nairobi,August 2024,3.0,1.0,1.0,no,A350-1000,2.0,S Anderson,21st August 2024,United Kingdom,✅Trip Verified
15,British Airways at its best. Outstanding se...,5.0,5.0,5.0,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,4.0,4.0,yes,A350,5.0,C Porter,12th August 2024,United Kingdom,✅Trip Verified
17,I recently traveled with British Airways and ...,4.0,4.0,3.0,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,4.0,2.0,3.0,no,A380,3.0,Edward King,11th August 2024,United States,✅Trip Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Flew Club World from Gatwick to Barbados in Ap...,3.0,4.0,3.0,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,4.0,3.0,no,Boeing 777,4.0,Mike Dickinson,12th June 2015,Sweden,NaN
3080,Flew from Kiev to London on their Airbus 319 i...,1.0,4.0,3.0,Business,Business Class,Kiev to London,NaN,5.0,4.0,4.0,yes,Airbus 319,4.0,Sasha Guignard,12th June 2015,Ukraine,NaN
3082,LHR to YVR return. Hard earned Avios points tr...,4.0,3.0,4.0,Business,Business Class,London-Vancouver return,NaN,5.0,4.0,5.0,yes,Boeing 747-400,4.0,D Ross,11th June 2015,United Kingdom,NaN
3083,Club World from LHR-ORD. Busy flight on the ag...,3.0,4.0,4.0,Business,Business Class,LHR-ORD,NaN,2.0,4.0,3.0,yes,Boeing 747-400,3.0,J Brown,11th June 2015,United Kingdom,NaN
3086,Family of 3 - 747 out (upper deck) 777 back. F...,5.0,2.0,4.0,Family Leisure,Business Class,NaN,NaN,5.0,4.0,5.0,yes,Boeing 747 / 777,4.0,R Tompkins,11th June 2015,United Kingdom,NaN

In [175]:
data['Trip Verified'] = data['Trip Verified'].str.replace(r'[^\w\s]', '', regex=True)

In [176]:
data.head()

,reviews,Food & Beverages,Inflight Entertainment,Seat Comfort,Type Of Traveller,Seat Type,Route,Date Flown,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft,Overall Rating,Author,Date,Place,Trip Verified
2,Straightforward check in T5. New site for c...,4.0,5.0,4.0,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,4.0,yes,Boeing 777-200,4.0,E Smyth,30th August 2024,United Kingdom,Trip Verified
6,Although all four flights were delayed the se...,4.0,4.0,5.0,Solo Leisure,First Class,Manchester to Newark via London,August 2024,5.0,4.0,5.0,yes,Boeing 787,4.0,Arthur Grace,26th August 2024,United Kingdom,Not Verified
12,Inefficient and slow airport operation. Resti...,2.0,3.0,2.0,Business,Economy Class,London Heathrow to Nairobi,August 2024,3.0,1.0,1.0,no,A350-1000,2.0,S Anderson,21st August 2024,United Kingdom,Trip Verified
15,British Airways at its best. Outstanding se...,5.0,5.0,5.0,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,4.0,4.0,yes,A350,5.0,C Porter,12th August 2024,United Kingdom,Trip Verified
17,I recently traveled with British Airways and ...,4.0,4.0,3.0,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,4.0,2.0,3.0,no,A380,3.0,Edward King,11th August 2024,United States,Trip Verified

In [177]:
data.rename(columns={'Inflight Entertainment': 'Entertainment'}, inplace=True)
data.rename(columns={'Food & Beverages': 'Food'}, inplace=True)

In [178]:
#reviews,	Food & Beverages,	Inflight Entertainment,	Seat Comfort,	Type Of Traveller,	Seat Type,	Route,	Date Flown
#Cabin Staff Service,	Ground Service,	Value For Money,	Recommended,	Aircraft,	Overall Rating,	Author,	Date,	Place,	Trip Verified
columns_order = ['Author', 'reviews','Date', 'Place', 'Aircraft', 'Type Of Traveller', 'Seat Type', 'Route', 'Date Flown',
                 'Overall Rating',  'Food', 'Entertainment', 'Seat Comfort', 'Cabin Staff Service', 'Ground Service', 'Value For Money',
                 'Trip Verified', 'Recommended']
data = data.reindex(columns=columns_order)

In [179]:
data

,Author,reviews,Date,Place,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Overall Rating,Food,Entertainment,Seat Comfort,Cabin Staff Service,Ground Service,Value For Money,Trip Verified,Recommended
2,E Smyth,Straightforward check in T5. New site for c...,30th August 2024,United Kingdom,Boeing 777-200,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,5.0,4.0,4.0,4.0,4.0,Trip Verified,yes
6,Arthur Grace,Although all four flights were delayed the se...,26th August 2024,United Kingdom,Boeing 787,Solo Leisure,First Class,Manchester to Newark via London,August 2024,4.0,4.0,4.0,5.0,5.0,4.0,5.0,Not Verified,yes
12,S Anderson,Inefficient and slow airport operation. Resti...,21st August 2024,United Kingdom,A350-1000,Business,Economy Class,London Heathrow to Nairobi,August 2024,2.0,2.0,3.0,2.0,3.0,1.0,1.0,Trip Verified,no
15,C Porter,British Airways at its best. Outstanding se...,12th August 2024,United Kingdom,A350,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,5.0,5.0,5.0,5.0,4.0,4.0,Trip Verified,yes
17,Edward King,I recently traveled with British Airways and ...,11th August 2024,United States,A380,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,3.0,4.0,4.0,3.0,4.0,2.0,3.0,Trip Verified,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Mike Dickinson,Flew Club World from Gatwick to Barbados in Ap...,12th June 2015,Sweden,Boeing 777,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,3.0,4.0,3.0,4.0,4.0,3.0,NaN,no
3080,Sasha Guignard,Flew from Kiev to London on their Airbus 319 i...,12th June 2015,Ukraine,Airbus 319,Business,Business Class,Kiev to London,NaN,4.0,1.0,4.0,3.0,5.0,4.0,4.0,NaN,yes
3082,D Ross,LHR to YVR return. Hard earned Avios points tr...,11th June 2015,United Kingdom,Boeing 747-400,Business,Business Class,London-Vancouver return,NaN,4.0,4.0,3.0,4.0,5.0,4.0,5.0,NaN,yes
3083,J Brown,Club World from LHR-ORD. Busy flight on the ag...,11th June 2015,United Kingdom,Boeing 747-400,Business,Business Class,LHR-ORD,NaN,3.0,3.0,4.0,4.0,2.0,4.0,3.0,NaN,yes
3086,R Tompkins,Family of 3 - 747 out (upper deck) 777 back. F...,11th June 2015,United Kingdom,Boeing 747 / 777,Family Leisure,Business Class,NaN,NaN,4.0,5.0,2.0,4.0,5.0,4.0,5.0,NaN,yes

In [180]:
data.isnull().sum()

Author                   0
reviews                  0
Date                     0
Place                    0
Aircraft                 0
Type Of Traveller        1
Seat Type                0
Route                    1
Date Flown               6
Overall Rating           0
Food                     0
Entertainment            0
Seat Comfort             0
Cabin Staff Service      0
Ground Service           0
Value For Money          0
Trip Verified          401
Recommended              0
dtype: int64

In [181]:
data.mode()

,Author,reviews,Date,Place,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Overall Rating,Food,Entertainment,Seat Comfort,Cabin Staff Service,Ground Service,Value For Money,Trip Verified,Recommended
0,E Smyth,British Airways from Tampa to Gatwick on Boein...,1st December 2015,United Kingdom,Boeing 777,Couple Leisure,Economy Class,London to Johannesburg,October 2015,2.0,1.0,1.0,4.0,5.0,4.0,1.0,Trip Verified,no
1,NaN,London Heathrow to Miami on one of British Air...,NaN,NaN,NaN,NaN,NaN,NaN,September 2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
data

,Author,reviews,Date,Place,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Overall Rating,Food,Entertainment,Seat Comfort,Cabin Staff Service,Ground Service,Value For Money,Trip Verified,Recommended
2,E Smyth,Straightforward check in T5. New site for c...,30th August 2024,United Kingdom,Boeing 777-200,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,5.0,4.0,4.0,4.0,4.0,Trip Verified,yes
6,Arthur Grace,Although all four flights were delayed the se...,26th August 2024,United Kingdom,Boeing 787,Solo Leisure,First Class,Manchester to Newark via London,August 2024,4.0,4.0,4.0,5.0,5.0,4.0,5.0,Not Verified,yes
12,S Anderson,Inefficient and slow airport operation. Resti...,21st August 2024,United Kingdom,A350-1000,Business,Economy Class,London Heathrow to Nairobi,August 2024,2.0,2.0,3.0,2.0,3.0,1.0,1.0,Trip Verified,no
15,C Porter,British Airways at its best. Outstanding se...,12th August 2024,United Kingdom,A350,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,5.0,5.0,5.0,5.0,4.0,4.0,Trip Verified,yes
17,Edward King,I recently traveled with British Airways and ...,11th August 2024,United States,A380,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,3.0,4.0,4.0,3.0,4.0,2.0,3.0,Trip Verified,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Mike Dickinson,Flew Club World from Gatwick to Barbados in Ap...,12th June 2015,Sweden,Boeing 777,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,3.0,4.0,3.0,4.0,4.0,3.0,NaN,no
3080,Sasha Guignard,Flew from Kiev to London on their Airbus 319 i...,12th June 2015,Ukraine,Airbus 319,Business,Business Class,Kiev to London,NaN,4.0,1.0,4.0,3.0,5.0,4.0,4.0,NaN,yes
3082,D Ross,LHR to YVR return. Hard earned Avios points tr...,11th June 2015,United Kingdom,Boeing 747-400,Business,Business Class,London-Vancouver return,NaN,4.0,4.0,3.0,4.0,5.0,4.0,5.0,NaN,yes
3083,J Brown,Club World from LHR-ORD. Busy flight on the ag...,11th June 2015,United Kingdom,Boeing 747-400,Business,Business Class,LHR-ORD,NaN,3.0,3.0,4.0,4.0,2.0,4.0,3.0,NaN,yes
3086,R Tompkins,Family of 3 - 747 out (upper deck) 777 back. F...,11th June 2015,United Kingdom,Boeing 747 / 777,Family Leisure,Business Class,NaN,NaN,4.0,5.0,2.0,4.0,5.0,4.0,5.0,NaN,yes

In [183]:
data['Trip Verified']

2       Trip Verified
6        Not Verified
12      Trip Verified
15      Trip Verified
17      Trip Verified
            ...
3079              NaN
3080              NaN
3082              NaN
3083              NaN
3086              NaN
Name: Trip Verified, Length: 1330, dtype: object

In [184]:
data['Trip Verified'].fillna('Not Verified', inplace=True)
data['Trip Verified']

2       Trip Verified
6        Not Verified
12      Trip Verified
15      Trip Verified
17      Trip Verified
            ...
3079     Not Verified
3080     Not Verified
3082     Not Verified
3083     Not Verified
3086     Not Verified
Name: Trip Verified, Length: 1330, dtype: object

In [185]:
data['Trip Verified'].unique()

array(['Trip Verified', 'Not Verified', 'cNot Verified',
       'Verified Review', 'Unverified'], dtype=object)

In [186]:
data['Trip Verified'].value_counts()

Trip Verified
Trip Verified      484
Not Verified       466
Verified Review    371
Unverified           8
cNot Verified        1
Name: count, dtype: int64

In [187]:
data['Trip Verified'] = data['Trip Verified'].replace({
    'Trip Verified':'Verified',
    'Verified Review': 'Verified',
    'Unverified': 'Not Verified',
    'cNot Verified': 'Not Verified'
})
data['Trip Verified'].value_counts()

Trip Verified
Verified        855
Not Verified    475
Name: count, dtype: int64

In [188]:
data['Seat Type'].value_counts()

Seat Type
Economy Class      533
Business Class     482
Premium Economy    181
First Class        134
Name: count, dtype: int64

In [189]:
data['Type Of Traveller'].value_counts()

Type Of Traveller
Couple Leisure    463
Solo Leisure      382
Business          300
Family Leisure    184
Name: count, dtype: int64

In [190]:
data.isnull().sum()

Author                 0
reviews                0
Date                   0
Place                  0
Aircraft               0
Type Of Traveller      1
Seat Type              0
Route                  1
Date Flown             6
Overall Rating         0
Food                   0
Entertainment          0
Seat Comfort           0
Cabin Staff Service    0
Ground Service         0
Value For Money        0
Trip Verified          0
Recommended            0
dtype: int64

In [191]:
filter=data[data['Type Of Traveller'].isna() | (data['Type Of Traveller'] == '')]
filter

,Author,reviews,Date,Place,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Overall Rating,Food,Entertainment,Seat Comfort,Cabin Staff Service,Ground Service,Value For Money,Trip Verified,Recommended
217,May Porter,British Airways absolutely does not care. My...,1st September 2023,United Kingdom,Boeing 777,NaN,Economy Class,Los Angeles to London,August 2023,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Verified,no

In [192]:
data['Type Of Traveller']=data['Type Of Traveller'].fillna(data['Type Of Traveller'].mode()[0])
data.isnull().sum()

Author                 0
reviews                0
Date                   0
Place                  0
Aircraft               0
Type Of Traveller      0
Seat Type              0
Route                  1
Date Flown             6
Overall Rating         0
Food                   0
Entertainment          0
Seat Comfort           0
Cabin Staff Service    0
Ground Service         0
Value For Money        0
Trip Verified          0
Recommended            0
dtype: int64

In [193]:
data['Date']

2       30th August 2024
6       26th August 2024
12      21st August 2024
15      12th August 2024
17      11th August 2024
              ...
3079      12th June 2015
3080      12th June 2015
3082      11th June 2015
3083      11th June 2015
3086      11th June 2015
Name: Date, Length: 1330, dtype: object

In [194]:
# Remove suffixes (st, nd, rd, th) using regex
data['Date'] = data['Date'].str.replace(r'(\d+)(st|nd|rd|th)', r'\1', regex=True)

# Convert to datetime and extract date without time
data['Date'] = pd.to_datetime(data['Date']).dt.date

In [195]:
data['Date']

2       2024-08-30
6       2024-08-26
12      2024-08-21
15      2024-08-12
17      2024-08-11
           ...
3079    2015-06-12
3080    2015-06-12
3082    2015-06-11
3083    2015-06-11
3086    2015-06-11
Name: Date, Length: 1330, dtype: object

In [196]:
data

,Author,reviews,Date,Place,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Overall Rating,Food,Entertainment,Seat Comfort,Cabin Staff Service,Ground Service,Value For Money,Trip Verified,Recommended
2,E Smyth,Straightforward check in T5. New site for c...,2024-08-30,United Kingdom,Boeing 777-200,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,5.0,4.0,4.0,4.0,4.0,Verified,yes
6,Arthur Grace,Although all four flights were delayed the se...,2024-08-26,United Kingdom,Boeing 787,Solo Leisure,First Class,Manchester to Newark via London,August 2024,4.0,4.0,4.0,5.0,5.0,4.0,5.0,Not Verified,yes
12,S Anderson,Inefficient and slow airport operation. Resti...,2024-08-21,United Kingdom,A350-1000,Business,Economy Class,London Heathrow to Nairobi,August 2024,2.0,2.0,3.0,2.0,3.0,1.0,1.0,Verified,no
15,C Porter,British Airways at its best. Outstanding se...,2024-08-12,United Kingdom,A350,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,5.0,5.0,5.0,5.0,4.0,4.0,Verified,yes
17,Edward King,I recently traveled with British Airways and ...,2024-08-11,United States,A380,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,3.0,4.0,4.0,3.0,4.0,2.0,3.0,Verified,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,Mike Dickinson,Flew Club World from Gatwick to Barbados in Ap...,2015-06-12,Sweden,Boeing 777,Couple Leisure,Business Class,Gatwick to Barbados,NaN,4.0,3.0,4.0,3.0,4.0,4.0,3.0,Not Verified,no
3080,Sasha Guignard,Flew from Kiev to London on their Airbus 319 i...,2015-06-12,Ukraine,Airbus 319,Business,Business Class,Kiev to London,NaN,4.0,1.0,4.0,3.0,5.0,4.0,4.0,Not Verified,yes
3082,D Ross,LHR to YVR return. Hard earned Avios points tr...,2015-06-11,United Kingdom,Boeing 747-400,Business,Business Class,London-Vancouver return,NaN,4.0,4.0,3.0,4.0,5.0,4.0,5.0,Not Verified,yes
3083,J Brown,Club World from LHR-ORD. Busy flight on the ag...,2015-06-11,United Kingdom,Boeing 747-400,Business,Business Class,LHR-ORD,NaN,3.0,3.0,4.0,4.0,2.0,4.0,3.0,Not Verified,yes
3086,R Tompkins,Family of 3 - 747 out (upper deck) 777 back. F...,2015-06-11,United Kingdom,Boeing 747 / 777,Family Leisure,Business Class,NaN,NaN,4.0,5.0,2.0,4.0,5.0,4.0,5.0,Not Verified,yes

In [197]:
data.isnull().sum()

Author                 0
reviews                0
Date                   0
Place                  0
Aircraft               0
Type Of Traveller      0
Seat Type              0
Route                  1
Date Flown             6
Overall Rating         0
Food                   0
Entertainment          0
Seat Comfort           0
Cabin Staff Service    0
Ground Service         0
Value For Money        0
Trip Verified          0
Recommended            0
dtype: int64

In [198]:
data.dropna(subset=['Date Flown'],inplace=True)
data.isnull().sum()

Author                 0
reviews                0
Date                   0
Place                  0
Aircraft               0
Type Of Traveller      0
Seat Type              0
Route                  0
Date Flown             0
Overall Rating         0
Food                   0
Entertainment          0
Seat Comfort           0
Cabin Staff Service    0
Ground Service         0
Value For Money        0
Trip Verified          0
Recommended            0
dtype: int64

In [199]:
data.drop_duplicates(inplace = True)
data.duplicated().sum()

np.int64(0)

In [200]:
data

,Author,reviews,Date,Place,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Overall Rating,Food,Entertainment,Seat Comfort,Cabin Staff Service,Ground Service,Value For Money,Trip Verified,Recommended
2,E Smyth,Straightforward check in T5. New site for c...,2024-08-30,United Kingdom,Boeing 777-200,Family Leisure,Business Class,London to Toronto,August 2024,4.0,4.0,5.0,4.0,4.0,4.0,4.0,Verified,yes
6,Arthur Grace,Although all four flights were delayed the se...,2024-08-26,United Kingdom,Boeing 787,Solo Leisure,First Class,Manchester to Newark via London,August 2024,4.0,4.0,4.0,5.0,5.0,4.0,5.0,Not Verified,yes
12,S Anderson,Inefficient and slow airport operation. Resti...,2024-08-21,United Kingdom,A350-1000,Business,Economy Class,London Heathrow to Nairobi,August 2024,2.0,2.0,3.0,2.0,3.0,1.0,1.0,Verified,no
15,C Porter,British Airways at its best. Outstanding se...,2024-08-12,United Kingdom,A350,Solo Leisure,Business Class,Vancouver to London,July 2024,5.0,5.0,5.0,5.0,5.0,4.0,4.0,Verified,yes
17,Edward King,I recently traveled with British Airways and ...,2024-08-11,United States,A380,Family Leisure,Economy Class,Barcelona to Dallas via Heathrow,August 2024,3.0,4.0,4.0,3.0,4.0,2.0,3.0,Verified,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,Richard Vines,"I flew from Seoul to London, business class an...",2015-06-16,United Kingdom,boeing 787,Solo Leisure,Business Class,Seoul to London,June 2015,3.0,3.0,4.0,4.0,3.0,3.0,3.0,Not Verified,yes
3071,J Harrison,"Ended up on a 25-year-old 747, the second-olde...",2015-06-14,Canada,B747-400,Solo Leisure,Economy Class,LHR to YYZ,May 2015,4.0,4.0,4.0,3.0,4.0,4.0,4.0,Not Verified,yes
3073,Andrew Gascoyne,Terrible. Flight time is well over 2 hours. Se...,2015-06-12,United Kingdom,A321,Business,Business Class,LHR to SOF,May 2015,2.0,2.0,1.0,1.0,3.0,3.0,1.0,Not Verified,no
3074,James Williamson,"28th May 2015, LHR-DEN, B747, Seat 29A. Paid ...",2015-06-12,United Kingdom,B747,Solo Leisure,Economy Class,LHR-DEN,May 2015,4.0,4.0,2.0,3.0,5.0,4.0,4.0,Not Verified,yes
3075,James Williamson,"9/6/15, ORD-LHR, 777-300, Club World, Seat 13b...",2015-06-12,United Kingdom,777-300,Solo Leisure,Business Class,ORD-LHR,June 2015,4.0,2.0,4.0,4.0,5.0,4.0,5.0,Not Verified,yes

In [201]:
data.to_csv('ba_reviews.csv',index=False)